.pure-g-r {}

.a,
.b,
.c {
    display: flex;
}

.bottom {
	display:flex;
    align-items: flex-end;
}

#honungsgryta {
  display: none; /*makes the field not visible to humans*/
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

