.pure-g-r {}

.a,
.b,
.c {
    display: flex;
}

.bottom {
	display:flex;
    align-items: flex-end;
}

.gform {
  margin-top: 1.5rem;
}

.gform .pure-group {
  margin-bottom: 1rem;
}

.gform .thankyou_message,
.gform .error_message {
  margin-top: 1.5rem;
}

.gform .error_message {
  color: #8b1e1e;
}

#honungsgryta,
#honungsgryta-order,
input[name="honungsgryta"] {
  display: none; /*makes the field not visible to humans*/
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
